In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import warnings

# Ignore all warnings
warnings.filterwarnings("ignore")

In [2]:
games_data = pd.read_csv(
    "../../data/processed/cleaned_data_deliveries.csv",
    low_memory=False
)

In [3]:
games_data.drop(columns=["Unnamed: 0"],inplace=True)
games_data.tail()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,...,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
260915,1426312,2,KKR,SRH,9,5,SS Iyer,AK Markram,VR Iyer,1,...,bat,KKR,wickets,8.0,114.0,20.0,N,No Issues,J Madanagopal,Nitin Menon
260916,1426312,2,KKR,SRH,9,6,VR Iyer,AK Markram,SS Iyer,1,...,bat,KKR,wickets,8.0,114.0,20.0,N,No Issues,J Madanagopal,Nitin Menon
260917,1426312,2,KKR,SRH,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,...,bat,KKR,wickets,8.0,114.0,20.0,N,No Issues,J Madanagopal,Nitin Menon
260918,1426312,2,KKR,SRH,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,...,bat,KKR,wickets,8.0,114.0,20.0,N,No Issues,J Madanagopal,Nitin Menon
260919,1426312,2,KKR,SRH,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,...,bat,KKR,wickets,8.0,114.0,20.0,N,No Issues,J Madanagopal,Nitin Menon

In [4]:
games_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 33 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          260920 non-null  int64
 1   inning            260920 non-null  int64
 2   batting_team      260920 non-null  object
 3   bowling_team      260920 non-null  object
 4   over              260920 non-null  int64
 5   ball              260920 non-null  int64
 6   batter            260920 non-null  object
 7   bowler            260920 non-null  object
 8   non_striker       260920 non-null  object
 9   batsman_runs      260920 non-null  int64
 10  extra_runs        260920 non-null  int64
 11  total_runs        260920 non-null  int64
 12  extras_type       14125 non-null   object
 13  is_wicket         260920 non-null  int64
 14  player_dismissed  12950 non-null   object
 15  dismissal_kind    12950 non-null   object
 16  fielder           9354 non-null    object
 17  season            260920 non-null  object
 18  date              260920 non-null  object
 19  match_type        260920 non-null  object
 20  player_of_match   260920 non-null  object
 21  venue             260920 non-null  object
 22  toss_winner       260920 non-null  object
 23  toss_decision     260920 non-null  object
 24  winner            260920 non-null  object
 25  result            260920 non-null  object
 26  result_margin     256796 non-null  float64
 27  target_runs       260611 non-null  float64
 28  target_overs      260611 non-null  float64
 29  super_over        260920 non-null  object
 30  method            260920 non-null  object
 31  umpire1           260920 non-null  object
 32  umpire2           260920 non-null  object
dtypes: float64(3), int64(8), object(22)
memory usage: 65.7+ MB

# Batting Stats

In [5]:
# df = games_data[["batter","bowler","non_striker"]]
batter_unique = pd.Series(games_data["batter"].unique())
non_striker_unique = pd.Series(games_data["non_striker"].unique())
bowler_unique = pd.Series(games_data["bowler"].unique())
print(batter_unique.shape[0]+bowler_unique.shape[0]+non_striker_unique.shape[0])
players_list =pd.concat([batter_unique, non_striker_unique,bowler_unique])
print(players_list.shape)
players_list = players_list.unique()
print(players_list.shape)

1866
(1866,)
(732,)

In [6]:
def bowling_stats_generator(player,batting_stats):
    stats=[]
    try:
        bowler_grouped_data = games_data.groupby("bowler").get_group(player)
        #no of balls
        no_of_balls = bowler_grouped_data.shape[0] - bowler_grouped_data[(bowler_grouped_data["extras_type"]=="noballs") | (bowler_grouped_data["extras_type"]=="wides") ].shape[0]
        stats.append(no_of_balls)
        #no of overs
        no_of_overs = no_of_balls / 6
        stats.append(no_of_overs)
        #no of runs
        total_runs = bowler_grouped_data["batsman_runs"].sum() + bowler_grouped_data[(bowler_grouped_data["extras_type"]=="noballs") | (bowler_grouped_data["extras_type"]=="wides") ].shape[0]
        stats.append(total_runs)
        #economy
        economy = total_runs/no_of_overs
        stats.append(economy)
        #no of wickets
        no_of_wickets = bowler_grouped_data[bowler_grouped_data["dismissal_kind"].isna()==False].shape[0]
        stats.append(no_of_wickets)
        #bowling avg
        Bolwing_avg = total_runs/no_of_wickets
        stats.append(Bolwing_avg)
        #strike rate
        try:
            strike_rate = no_of_balls/no_of_wickets
            stats.append(strike_rate)
        except ZeroDivisionError:
            stats.append(np.nan)
        #bundary
        boundary_percentage = ((bowler_grouped_data[bowler_grouped_data["batsman_runs"]== 4].shape[0])+(bowler_grouped_data[bowler_grouped_data["batsman_runs"]== 6].shape[0]))/no_of_balls
        boundary_percentage = boundary_percentage * 100
        stats.append(boundary_percentage)
    except KeyError:
        stats = [np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan]
    final_stats= pd.concat([pd.Series(batting_stats),pd.Series(stats)],ignore_index=True)
    return(final_stats)
# for x in players_list:
#     bowling_stats_generator(x)

In [7]:
def batting_stats_generator(player):
    stats = []
    try:
        grouped_data = games_data.groupby("batter").get_group(player)
        #Batting avg
        try:
            total_runs = grouped_data["batsman_runs"].sum()
            total_diss = grouped_data[grouped_data["player_dismissed"]==player].shape[0]
            batting_avg = total_runs/total_diss
            stats.append(batting_avg)
        except ZeroDivisionError:
            stats.append(np.nan) 
        
        #Strike Rate
        total_balls = grouped_data.shape[0] - grouped_data["extras_type"].value_counts().get("wides",0)
        strike_rate = round((total_runs/total_balls)*100,2)
        stats.append(strike_rate)
        
        #Total Runs
        stats.append(total_runs)
        
        #boundary Percentage
        no_of_boundary =grouped_data["batsman_runs"].value_counts().get(4,0)*4+grouped_data["batsman_runs"].value_counts().get(6,0)*6
        boundary_percentage =round((no_of_boundary/total_runs)*100,2)
        stats.append(boundary_percentage)
        
        #dot Ball
        try:
            total_dot_balls = grouped_data["batsman_runs"].value_counts().get(0,0)-grouped_data["extras_type"].value_counts().get("wides",0)
            dot_ball_percentage  = round((total_dot_balls/total_balls)*100,2)
            stats.append(dot_ball_percentage)
        except ZeroDivisionError:
            stats.append(np.nan) 
    except KeyError:
        stats = [np.nan,np.nan,np.nan,np.nan,np.nan]
    return(bowling_stats_generator(player,stats))
# for x in players_list:
#     batting_stats_generator(x)

In [8]:
# df = pd.DataFrame(columns=['Name', 'Batting_avg', 'Batting_strikerate','Batting_total_runs','Batting_boundary','Batting_dot',
#                           'Bowling_balls','Bowling_over','Bowling_runs','Bowling_economy','Bowling_wickets','Bowling_avg','Bowling_strikerate'])

In [9]:
all_rows = []
for x in players_list:
    row = batting_stats_generator(x)  # Get a list from the function
    all_rows.append(row)  # Collect the list

stacked_rows = np.vstack(all_rows)

# Create a DataFrame from the stacked array
df1 = pd.DataFrame(stacked_rows, columns=['Batting_avg', 'Batting_strikerate','Batting_total_runs','Batting_boundary','Batting_dot',
                          'Bowling_balls','Bowling_over','Bowling_runs','Bowling_economy','Bowling_wickets','Bowling_total_runs','Bowling_avg','Bowling_strikerate'])

print(df1)

     Batting_avg  Batting_strikerate  Batting_total_runs  Batting_boundary  \
0      25.942308              106.81              1349.0             59.30
1      28.254902              131.60              2882.0             67.73
2      11.375000               71.09                91.0             35.16
3      28.739130              122.98              1322.0             54.46
4       9.142857               77.11                64.0             62.50
..           ...                 ...                 ...               ...
727          NaN                 NaN                 NaN               NaN
728          NaN                 NaN                 NaN               NaN
729          NaN                 NaN                 NaN               NaN
730          NaN                 NaN                 NaN               NaN
731          NaN                 NaN                 NaN               NaN

     Batting_dot  Bowling_balls  Bowling_over  Bowling_runs  Bowling_economy  \
0          47.43          276.0     46.000000         363.0         7.891304
1          43.20            NaN           NaN           NaN              NaN
2          53.12            NaN           NaN           NaN              NaN
3          37.12          317.0     52.833333         473.0         8.952681
4          60.24           60.0     10.000000          64.0         6.400000
..           ...            ...           ...           ...              ...
727          NaN           55.0      9.166667          69.0         7.527273
728          NaN           73.0     12.166667          85.0         6.986301
729          NaN           24.0      4.000000          43.0        10.750000
730          NaN          156.0     26.000000         255.0         9.807692
731          NaN           24.0      4.000000          36.0         9.000000

     Bowling_wickets  Bowling_total_runs  Bowling_avg  Bowling_strikerate
0               12.0              30.250       23.000           14.130435
1                NaN                 NaN          NaN                 NaN
2                NaN                 NaN          NaN                 NaN
3               10.0              47.300       31.700           17.350158
4                2.0              32.000       30.000           11.666667
..               ...                 ...          ...                 ...
727              1.0              69.000       55.000           14.545455
728              8.0              10.625        9.125           19.178082
729              0.0                 inf          NaN           25.000000
730              8.0              31.875       19.500           22.435897
731              2.0              18.000       12.000           20.833333

[732 rows x 13 columns]

In [11]:
df1.head()
df1.shape

(732, 13)

In [12]:
df1.insert(0, 'Player_name', players_list)

In [13]:
df1.head()

,Player_name,Batting_avg,Batting_strikerate,Batting_total_runs,Batting_boundary,Batting_dot,Bowling_balls,Bowling_over,Bowling_runs,Bowling_economy,Bowling_wickets,Bowling_total_runs,Bowling_avg,Bowling_strikerate
0,SC Ganguly,25.942308,106.81,1349.0,59.30,47.43,276.0,46.000000,363.0,7.891304,12.0,30.25,23.0,14.130435
1,BB McCullum,28.254902,131.60,2882.0,67.73,43.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,RT Ponting,11.375000,71.09,91.0,35.16,53.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DJ Hussey,28.739130,122.98,1322.0,54.46,37.12,317.0,52.833333,473.0,8.952681,10.0,47.30,31.7,17.350158
4,Mohammad Hafeez,9.142857,77.11,64.0,62.50,60.24,60.0,10.000000,64.0,6.400000,2.0,32.00,30.0,11.666667

In [14]:
df = df1

In [15]:
df.replace([np.inf, -np.inf], np.nan, inplace=True)

In [18]:
df.isna().sum()

Player_name             0
Batting_avg           112
Batting_strikerate     59
Batting_total_runs     59
Batting_boundary       82
Batting_dot            59
Bowling_balls         202
Bowling_over          202
Bowling_runs          202
Bowling_economy       202
Bowling_wickets       202
Bowling_total_runs    277
Bowling_avg           277
Bowling_strikerate    202
dtype: int64

In [20]:
all_nan_rows = df.isna().all(axis=1)  # axis=1 checks across rows

# Print the boolean series showing rows where all values are NaN
print(all_nan_rows)

# Check if there is at least one row with all NaN values
if all_nan_rows.any():
    print("There is at least one row where all values are NaN.")
else:
    print("No row has all NaN values.")

0      False
1      False
2      False
3      False
4      False
       ...
727    False
728    False
729    False
730    False
731    False
Length: 732, dtype: bool
No row has all NaN values.

# K-Means

In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test = train_test_split(df, test_size=0.2, random_state=42)

print("\nTraining Data:")
print(X_train)
print("\nTesting Data:")
print(X_test)

Training Data:
       Player_name  Batting_avg  Batting_strikerate  Batting_total_runs  \
683      RA Shaikh          NaN                 NaN                 NaN
250      B Sumanth    35.000000               94.59                35.0
336        CA Lynn    34.973684              140.63              1329.0
260     MA Agarwal    23.412281              133.32              2669.0
439   Vishnu Vinod     9.333333               98.25                56.0
..             ...          ...                 ...                 ...
71        DJ Bravo    22.941176              129.57              1560.0
106       AB Dinda     2.888889               54.17                26.0
270      S Aravind    19.666667              103.51                59.0
435       TS Mills     2.000000               57.14                 8.0
102  Sohail Tanvir    12.000000              124.14                36.0

     Batting_boundary  Batting_dot  Bowling_balls  Bowling_over  Bowling_runs  \
683               NaN          NaN            6.0      1.000000          11.0
250             34.29        37.84            NaN           NaN           NaN
336             69.53        40.95            NaN           NaN           NaN
260             61.75        37.66            NaN           NaN           NaN
439             53.57        45.61            NaN           NaN           NaN
..                ...          ...            ...           ...           ...
71              56.15        37.79         3120.0    520.000000        4354.0
106             30.77        60.42         1516.0    252.666667        2060.0
270             47.46        42.11          760.0    126.666667        1035.0
435             75.00        78.57          209.0     34.833333         337.0
102             50.00        31.03          247.0     41.166667         264.0

     Bowling_economy  Bowling_wickets  Bowling_total_runs  Bowling_avg  \
683        11.000000              0.0                 NaN          NaN
250              NaN              NaN                 NaN          NaN
336              NaN              NaN                 NaN          NaN
260              NaN              NaN                 NaN          NaN
439              NaN              NaN                 NaN          NaN
..               ...              ...                 ...          ...
71          8.373077            207.0           21.033816    15.072464
106         8.153034             82.0           25.121951    18.487805
270         8.171053             48.0           21.562500    15.833333
435         9.674641             11.0           30.636364    19.000000
102         6.412955             24.0           11.000000    10.291667

     Bowling_strikerate
683           33.333333
250                 NaN
336                 NaN
260                 NaN
439                 NaN
..                  ...
71            16.153846
106           19.129288
270           18.815789
435           24.401914
102           13.765182

[585 rows x 14 columns]

Testing Data:
          Player_name  Batting_avg  Batting_strikerate  Batting_total_runs  \
604          OC McCoy          NaN              160.00                 8.0
33         DS Lehmann     9.000000              100.00                18.0
300  Y Gnaneswara Rao    19.000000              111.76                19.0
457          AR Bawne          NaN              100.00                12.0
634      Sanvir Singh    12.500000              119.05                25.0
..                ...          ...                 ...                 ...
70      Shahid Afridi    10.125000              176.09                81.0
192           J Botha    20.450000              113.93               409.0
328         MJ Clarke    16.333333              104.26                98.0
165        FH Edwards     4.000000               80.00                 4.0
135        TM Dilshan    28.825000              114.50              1153.0

     Batting_boundary  Batting_dot  Bowling_balls  Bowling_over  Bowling_runs  \
604             75.00        40.00          162.0     27.000000         249.0
33              66.67        50.00            NaN           NaN           NaN
300             63.16        47.06            6.0      1.000000           7.0
457             33.33        33.33            NaN           NaN           NaN
634             56.00        38.10            NaN           NaN           NaN
..                ...          ...            ...           ...           ...
70              79.01        43.48          180.0     30.000000         225.0
192             45.48        37.05          694.0    115.666667         796.0
328             48.98        43.62           66.0     11.000000          67.0
165              0.00        60.00          140.0     23.333333         154.0
135             61.06        44.89          271.0     45.166667         365.0

     Bowling_economy  Bowling_wickets  Bowling_total_runs  Bowling_avg  \
604         9.222222             11.0           22.636364    14.727273
33               NaN              NaN                 NaN          NaN
300         7.000000              0.0                 NaN          NaN
457              NaN              NaN                 NaN          NaN
634              NaN              NaN                 NaN          NaN
..               ...              ...                 ...          ...
70          7.500000              9.0           25.000000    20.000000
192         6.881844             27.0           29.481481    25.703704
328         6.090909              3.0           22.333333    22.000000
165         6.600000              6.0           25.666667    23.333333
135         8.081181              5.0           73.000000    54.200000

     Bowling_strikerate
604           17.901235
33                  NaN
300           16.666667
457                 NaN
634                 NaN
..                  ...
70            14.444444
192           12.103746
328            9.090909
165           15.714286
135           15.498155

[147 rows x 14 columns]

In [24]:
df.columns

Index(['Player_name', 'Batting_avg', 'Batting_strikerate',
       'Batting_total_runs', 'Batting_boundary', 'Batting_dot',
       'Bowling_balls', 'Bowling_over', 'Bowling_runs', 'Bowling_economy',
       'Bowling_wickets', 'Bowling_total_runs', 'Bowling_avg',
       'Bowling_strikerate'],
      dtype='object')

In [25]:
numeric_columns = df.select_dtypes(include=[np.number]).columns
non_numeric_columns = df[['Player_name']]  # Keep the Player_name column

scaler = StandardScaler()
df_scaled = scaler.fit_transform(df[numeric_columns])

# Step 3: Create a new DataFrame with scaled features
df_scaled = pd.DataFrame(df_scaled, columns=numeric_columns)

# Step 4: Recombine the scaled DataFrame with the non-numeric columns
final_df = pd.concat([non_numeric_columns, df_scaled], axis=1)

print(final_df)

         Player_name  Batting_avg  Batting_strikerate  Batting_total_runs  \
0         SC Ganguly     0.737071            0.016195            0.825302
1        BB McCullum     0.937418            0.630404            2.298913
2         RT Ponting    -0.524939           -0.868822           -0.383963
3          DJ Hussey     0.979368            0.416831            0.799348
4    Mohammad Hafeez    -0.718316           -0.719667           -0.409917
..               ...          ...                 ...                 ...
727      M Siddharth          NaN                 NaN                 NaN
728         MP Yadav          NaN                 NaN                 NaN
729         S Joseph          NaN                 NaN                 NaN
730       N Thushara          NaN                 NaN                 NaN
731      V Kaverappa          NaN                 NaN                 NaN

     Batting_boundary  Batting_dot  Bowling_balls  Bowling_over  Bowling_runs  \
0            0.449800     0.113841      -0.272770     -0.272770     -0.296003
1            0.809725    -0.149385            NaN           NaN           NaN
2           -0.580876     0.467921            NaN           NaN           NaN
3            0.243152    -0.527735      -0.216422     -0.216422     -0.178707
4            0.586426     0.910989      -0.569627     -0.569627     -0.614835
..                ...          ...            ...           ...           ...
727               NaN          NaN      -0.576499     -0.576499     -0.609504
728               NaN          NaN      -0.551761     -0.551761     -0.592442
729               NaN          NaN      -0.619103     -0.619103     -0.637228
730               NaN          NaN      -0.437691     -0.437691     -0.411166
731               NaN          NaN      -0.619103     -0.619103     -0.644693

     Bowling_economy  Bowling_wickets  Bowling_total_runs  Bowling_avg  \
0          -0.463325        -0.319971           -0.144201     0.055158
1                NaN              NaN                 NaN          NaN
2                NaN              NaN                 NaN          NaN
3          -0.050337        -0.371438            0.859761     0.923908
4          -1.043601        -0.577307           -0.041155     0.754152
..               ...              ...                 ...          ...
727        -0.604972        -0.603040            2.137531     3.250560
728        -0.815467        -0.422905           -1.299788    -1.330348
729         0.649011        -0.628774                 NaN          NaN
730         0.282354        -0.422905           -0.048516    -0.294339
731        -0.031925        -0.577307           -0.865523    -1.043261

     Bowling_strikerate
0             -0.653238
1                   NaN
2                   NaN
3             -0.299277
4             -0.924093
..                  ...
727           -0.607613
728           -0.098324
729            0.541709
730            0.259824
731            0.083646

[732 rows x 14 columns]