In [1]:
import numpy as np
import pandas as pd
from sklearn.neighbors import NearestNeighbors

In [2]:
df = pd.read_csv("players_stats.csv")

In [3]:
df.head(20)

,Player_name,Batting_avg,Batting_strikerate,Batting_total_runs,Batting_boundary,Batting_dot,Bowling_balls,Bowling_over,Bowling_runs,Bowling_economy,Bowling_wickets,Bowling_total_runs,Bowling_avg,Bowling_strikerate
0,SC Ganguly,25.942308,106.81,1349.0,59.30,47.43,276.0,46.000000,363.0,7.891304,12.0,30.250000,23.000000,14.130435
1,BB McCullum,28.254902,131.60,2882.0,67.73,43.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,RT Ponting,11.375000,71.09,91.0,35.16,53.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DJ Hussey,28.739130,122.98,1322.0,54.46,37.12,317.0,52.833333,473.0,8.952681,10.0,47.300000,31.700000,17.350158
4,Mohammad Hafeez,9.142857,77.11,64.0,62.50,60.24,60.0,10.000000,64.0,6.400000,2.0,32.000000,30.000000,11.666667
5,R Dravid,28.986667,115.52,2174.0,57.22,41.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,W Jaffer,18.571429,107.44,130.0,56.92,46.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,V Kohli,39.092683,132.05,8014.0,55.78,33.47,251.0,41.833333,367.0,8.772908,5.0,73.400000,50.200000,14.342629
8,JH Kallis,29.240964,109.23,2427.0,52.90,41.09,1742.0,290.333333,2279.0,7.849598,74.0,30.797297,23.540541,16.877153
9,CL White,28.558824,127.76,971.0,54.79,34.21,42.0,7.000000,85.0,12.142857,1.0,85.000000,42.000000,26.190476
10,MV Boucher,28.142857,127.51,394.0,52.28,34.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,B Akhil,15.200000,138.18,76.0,65.79,43.64,188.0,31.333333,240.0,7.659574,7.0,34.285714,26.857143,14.361702
12,AA Noffke,9.000000,90.00,9.0,44.44,40.00,24.0,4.000000,36.0,9.000000,1.0,36.000000,24.000000,16.666667
13,P Kumar,10.000000,108.28,340.0,55.88,47.45,2524.0,420.666667,3219.0,7.652139,102.0,31.558824,24.745098,17.511886
14,Z Khan,8.357143,82.98,117.0,47.86,52.48,2200.0,366.666667,2767.0,7.546364,119.0,23.252101,18.487395,17.090909
15,SB Joshi,3.000000,42.86,6.0,0.00,57.14,55.0,9.166667,82.0,8.945455,1.0,82.000000,55.000000,20.000000
16,PA Patel,23.537190,120.78,2848.0,61.59,42.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,ML Hayden,39.535714,137.34,1107.0,67.57,41.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,MEK Hussey,40.346939,122.64,1977.0,55.84,37.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,MS Dhoni,40.022901,137.54,5243.0,56.53,33.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.fillna(0,inplace=True)

In [5]:
nbrs = NearestNeighbors(n_neighbors=6).fit(df[['Batting_avg', 'Batting_strikerate',
       'Batting_total_runs', 'Batting_boundary', 'Batting_dot',
       'Bowling_balls', 'Bowling_over', 'Bowling_runs', 'Bowling_economy',
       'Bowling_wickets', 'Bowling_total_runs', 'Bowling_avg',
       'Bowling_strikerate']])

In [6]:
df.columns

Index(['Player_name', 'Batting_avg', 'Batting_strikerate',
       'Batting_total_runs', 'Batting_boundary', 'Batting_dot',
       'Bowling_balls', 'Bowling_over', 'Bowling_runs', 'Bowling_economy',
       'Bowling_wickets', 'Bowling_total_runs', 'Bowling_avg',
       'Bowling_strikerate'],
      dtype='object')

In [7]:
query_player = df[df['Player_name'] == 'V Kohli'][['Batting_avg', 'Batting_strikerate',
       'Batting_total_runs', 'Batting_boundary', 'Batting_dot',
       'Bowling_balls', 'Bowling_over', 'Bowling_runs', 'Bowling_economy',
       'Bowling_wickets', 'Bowling_total_runs', 'Bowling_avg',
       'Bowling_strikerate']]

In [8]:
distances, indices = nbrs.kneighbors(query_player)

In [10]:
similar_players_indices = indices[0][1:]  # Exclude the first one (itself)

# Get the names of the similar players
most_similar_players = df.iloc[similar_players_indices]['Player_name'].tolist()
1
print("5 most similar players:", most_similar_players)

5 most similar players: ['S Dhawan', 'RG Sharma', 'DA Warner', 'SK Raina', 'MS Dhoni']