**jdwajdajwdjawj**

In [1]:
import numpy as np

In [2]:
hello = np.array([1,2,3,4,5])

In [3]:
import pandas as pd

In [4]:
series1 = pd.Series(hello)

In [5]:
series1 = series1.reset_index()
series1

   index  0
0      0  1
1      1  2
2      2  3
3      3  4
4      4  5